<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Robots | Robots App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css'/>
</head>
<body>
<div class="container">
    <header>
        <h1><a href="../">Home</a></h1>
        <button type="button" class="btn btn-success pull-right robot-btn">Recycle</button>
        <a class="btn btn-primary pull-right robot-btn" href="/new" role="button">New</a>
        <h2><a href="/robots">Robots</a></h2>
    </header>

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Created</th>
                <th>Updated</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <% data.forEach(function (item) { %>
            <tr>
                <td><%= item._id %></td>
                <td><a href="/<%= item.name %>"><%= item.name %></a></td>
                <td><%= item.description %></td>
                <td><%= new Date(item.created_at).toUTCString() %></td>
                <td><%= new Date(item.updated_at).toUTCString() %></td>
                <td>
                    <button type="button" class="btn btn-warning">Edit</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
            </tr>
            <% }); %>
            </tbody>
        </table>
    </div>

    <hr>
    <footer>
        <p>
            <a href="http://crud-app.sahilmak.tech/" target="_blank">View</a> |
            <a href="https://github.com/SahilMak/crud-app" target="_blank">Source</a>
        </p>
    </footer>
</div>
</body>
</html>
