<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders | Robots App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css'/>
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <header>
        <h1><a href="../">Home</a></h1>
        <a class="btn btn-primary pull-right robot-btn" href="/orders/new" role="button"><span
                    class="glyphicon glyphicon-plus" aria-hidden="true"></span> New</a>
    </header>

    <h2>
        <a href="/robots">Robots</a> |
        <a href="/orders">Orders</a>
    </h2>
    <h3>Orders</h3>

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Order ID</th>
                <th>Robot ID</th>
                <th>Robot Name</th>
                <th>Quantity</th>
                <th>Created</th>
            </tr>
            </thead>
            <tbody>
            <% if (data.length == 0) { %>
            <tr>
                <td colspan="8" align="center">No orders have been placed yet</td>
            </tr>
            <% } else { %>
            <% data.forEach(function (order) { %>
            <tr>
                <td><%= order._id %></td>
                <td><%= order.robot_id %></td>
                <td><%= order.robot_name %></td>
                <td><%= order.quantity %></td>
                <td><%= new Date(order.created_at).toUTCString() %></td>
            </tr>
            <% }); } %>
            </tbody>
        </table>
    </div>

    <%- include ../footer.ejs %>
</div>
</body>
</html>